@model dbqn.T115OA.Model.StudentFile

@{
    Layout = null;
}

@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>StudentFile</legend>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.payId)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.payId)
                @Html.ValidationMessageFor(model => model.payId)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.ClassManagementId)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ClassManagementId)
                @Html.ValidationMessageFor(model => model.ClassManagementId)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.educationId)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.educationId)
                @Html.ValidationMessageFor(model => model.educationId)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Registrationtime)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Registrationtime)
                @Html.ValidationMessageFor(model => model.Registrationtime)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Namepinyin)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Namepinyin)
                @Html.ValidationMessageFor(model => model.Namepinyin)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Sex)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Sex)
                @Html.ValidationMessageFor(model => model.Sex)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Dateofbirth)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Dateofbirth)
                @Html.ValidationMessageFor(model => model.Dateofbirth)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Nation)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Nation)
                @Html.ValidationMessageFor(model => model.Nation)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.IDnumber)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.IDnumber)
                @Html.ValidationMessageFor(model => model.IDnumber)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.IDaddress)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.IDaddress)
                @Html.ValidationMessageFor(model => model.IDaddress)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.XAddress)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.XAddress)
                @Html.ValidationMessageFor(model => model.XAddress)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.ISaccommodation)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ISaccommodation)
                @Html.ValidationMessageFor(model => model.ISaccommodation)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.PhoNumber)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PhoNumber)
                @Html.ValidationMessageFor(model => model.PhoNumber)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Sourcesofcost)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Sourcesofcost)
                @Html.ValidationMessageFor(model => model.Sourcesofcost)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.QQ)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.QQ)
                @Html.ValidationMessageFor(model => model.QQ)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Guardianname)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Guardianname)
                @Html.ValidationMessageFor(model => model.Guardianname)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.GuardianPhone)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.GuardianPhone)
                @Html.ValidationMessageFor(model => model.GuardianPhone)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Wechat)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Wechat)
                @Html.ValidationMessageFor(model => model.Wechat)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Interest)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Interest)
                @Html.ValidationMessageFor(model => model.Interest)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Speciality)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Speciality)
                @Html.ValidationMessageFor(model => model.Speciality)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.OWEP)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.OWEP)
                @Html.ValidationMessageFor(model => model.OWEP)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Other)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Other)
                @Html.ValidationMessageFor(model => model.Other)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Programming)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Programming)
                @Html.ValidationMessageFor(model => model.Programming)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Intrnet)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Intrnet)
                @Html.ValidationMessageFor(model => model.Intrnet)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.correation)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.correation)
                @Html.ValidationMessageFor(model => model.correation)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.operation)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.operation)
                @Html.ValidationMessageFor(model => model.operation)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Readingstate)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Readingstate)
                @Html.ValidationMessageFor(model => model.Readingstate)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.manage)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.manage)
                @Html.ValidationMessageFor(model => model.manage)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.school)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.school)
                @Html.ValidationMessageFor(model => model.school)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.inclass)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.inclass)
                @Html.ValidationMessageFor(model => model.inclass)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.TimeGroad)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.TimeGroad)
                @Html.ValidationMessageFor(model => model.TimeGroad)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.recommend)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.recommend)
                @Html.ValidationMessageFor(model => model.recommend)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.remark)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.remark)
                @Html.ValidationMessageFor(model => model.remark)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.DelFlag)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.DelFlag)
                @Html.ValidationMessageFor(model => model.DelFlag)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.SubBy)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.SubBy)
                @Html.ValidationMessageFor(model => model.SubBy)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.subTiem)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.subTiem)
                @Html.ValidationMessageFor(model => model.subTiem)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.entranceState)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.entranceState)
                @Html.ValidationMessageFor(model => model.entranceState)
            </div>
    
            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>学员档案增加--layui后台管理模板</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../../layui/css/layui.css" media="all" />
    <style type="text/css">
		.layui-form-item .layui-inline{ width:33.333%; float:left; margin-right:0; }

    </style>
</head>
<body class="childrenBody">
    <form class="layui-form" style="width:80%;">
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input userName" lay-verify="required" placeholder="请输入姓名">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">姓名拼音</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" placeholder="请输入姓名拼音">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">性别</label>
                <div class="layui-input-block userSex">
                    <input type="radio" name="sex" value="男" title="男" checked>
                    <input type="radio" name="sex" value="女" title="女">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">学员状态</label>
                <div class="layui-input-block">
                    <select name="userStatus" class="userStatus" lay-filter="userStatus">
                        <option value="1">未报名
                        <option value="0">报名</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">出生日期</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input userName" lay-verify="required" placeholder="请输入出生日期">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">你的学历</label>
                <div class="layui-input-block">
                    <select name="userStatus" class="userStatus" lay-filter="userStatus">
                        <option value="-1">其他</option>
                        <option value="0">小学</option>
                        <option value="1">初中</option>
                        <option value="2">高中</option>
                        <option value="3">大学</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">民族</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" placeholder="请输入民族">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">身份证</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" placeholder="请输入身份证">
                </div>
            </div>
        </div>

        <div class="layui-form-item">

            <div class="layui-inline">
                <label class="layui-form-label">电话号码</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" placeholder="请输入本人电话号码">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">监护人姓名</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" placeholder="请输入监护人姓名">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">监护人电话</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" placeholder="请输入监护人电话">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">身份证的详细地址</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" placeholder="请输入详细地址">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">现在的家庭住址</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" placeholder="请输入家庭住址">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">现在的家庭住址</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" placeholder="请输入家庭住址">
                </div>

            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">费用来源</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" placeholder="可不填">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">是否住宿</label>
                <div class="layui-input-block">
                    <select name="userStatus" class="userStatus" lay-filter="userStatus">
                        <option value="-1">其他</option>
                        <option value="0">走读</option>
                        <option value="1">住宿</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">QQ</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" placeholder="请输入本人QQ号">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">微信</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" placeholder="请输入本人微信号">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">兴趣</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" placeholder="">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">特长</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" placeholder="">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">其他</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" placeholder="可不填">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">软件了解程度</label>
                <div class="layui-input-block">
                    <select name="userStatus" class="userStatus" lay-filter="userStatus">
                        <option value="无">无</option>
                        <option value="一般">一般</option>
                        <option value="了解">了解</option>
                        <option value="不了解">不了解</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">上网了解程度</label>
                <div class="layui-input-block">
                    <select name="userStatus" class="userStatus" lay-filter="userStatus">
                        <option value="无">无</option>
                        <option value="一般">一般</option>
                        <option value="了解">了解</option>
                        <option value="不了解">不了解</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">有学习过的相关课程嘛</label>
                <div class="layui-input-block">
                    <select name="userStatus" class="userStatus" lay-filter="userStatus">
                        <option value="无">无</option>
                        <option value="有">有</option>
                        <option value="没有">没有</option>
                        <option value="一点点">一点点</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">对系统了解程度</label>
                <div class="layui-input-block">
                    <select name="userStatus" class="userStatus" lay-filter="userStatus">
                        <option value="无">无</option>
                        <option value="一般">一般</option>
                        <option value="了解">了解</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">是否担任过班干部</label>
                <div class="layui-input-block">
                    <select name="userStatus" class="userStatus" lay-filter="userStatus">
                        <option value="是">是</option>
                        <option value="否">否</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">是否需要学校推荐就业</label>
                <div class="layui-input-block">
                    <select name="userStatus" class="userStatus" lay-filter="userStatus">
                        <option value="是">是</option>
                        <option value="否">否</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">对系统了解程度</label>
                <div class="layui-input-block">
                    <select name="userStatus" class="userStatus" lay-filter="userStatus">
                        <option value="无">无</option>
                        <option value="一般">一般</option>
                        <option value="了解">了解</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">是否担任过班干部</label>
                <div class="layui-input-block">
                    <select name="userStatus" class="userStatus" lay-filter="userStatus">
                        <option value="是">是</option>
                        <option value="否">否</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">是否需要学校推荐就业</label>
                <div class="layui-input-block">
                    <select name="userStatus" class="userStatus" lay-filter="userStatus">
                        <option value="是">是</option>
                        <option value="否">否</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <p>如果现在正在读书请填写下面资料(可填/可不填)</p>
        </div>
        <div class="layui-form-item">

            <div class="layui-inline">
                <label class="layui-form-label">就读的学校</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" placeholder="可不填">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">班级</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" placeholder="可不填">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">毕业时间</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" placeholder="毕业时间">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="addUser">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>


    </form>
    <script type="text/javascript" src="../../layui/layui.js"></script>
    <script type="text/javascript" src="addUser.js"></script>
</body>
</html>